body{
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
header{
    padding-left: 20%;
    display: flex;
    background-color: #4a76a8;
    color: white;
    font-family: cursive;
}
.btn{
    width: 160px;
    padding: 15px 20px;
    cursor: pointer;
    text-align: center;
}
.btn:hover{
    background-color: #405981;
}
.activ{
    box-shadow:inset 0px 0px 10px white;
    cursor: default;
}
.activ:hover{
    background-color: #4a76a8;
}
.menu{
    display: flex;
    margin: 5vh 20px;
    border: solid 1px #666;
    border-radius: 20px;
    width: 800px;
    justify-content: space-between;
    height: 5vh;
}
.menu .btn:hover{
    background-color: #e4dee5;
}
.menu .hover_menu{
    align-items: center;
    position: absolute;
    width: 100%;
    padding: 15px 20px;
    left: 0;
    padding-top: 10px;
    height: 0;
    display: none;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: #e4dee5;
    box-sizing: border-box;
	z-index: 10;
	box-shadow: 0px 4px 4px gray;
}
.hover_menu div {
    text-align: center;
    width: 100px;
    padding: 5px 5px;
    border-radius: 20px;
}
.hover_menu .activ{
    box-shadow: none;
    background-color: #f54a4f;
}
.hover_menu div:hover {
    background-color: #f59893;
}
.menu .speed:hover .hover_menu{
    height: auto;
    display: flex;
    flex-direction: column;
}
.speed{
    position: relative;
    width: 300px;
}

.speed:hover{
    box-shadow: 0px 4px 4px gray;
    border-top-right-radius: 20px;
}
.save:hover{
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
.menu .res:hover .res_menu{
    height: auto;
    display: flex;
    flex-direction: column;
}
.res{
    position: relative;
    width: 300px;

}
.res:hover{
    box-shadow: 0px 4px 4px gray;
}
.menu .res_menu{
    align-items: center;
    position: absolute;
    width: 100%;
    padding: 15px 20px;
    left: 0;
    padding-top: 10px;
    height: 0;
    display: none;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: #e4dee5;
    box-sizing: border-box;
	z-index: 10;
	box-shadow: 0px 4px 4px gray;
}
.res_menu div {
    text-align: center;
    width: 100px;
    padding: 5px 5px;
    border-radius: 20px;
}

.res_menu div:hover {
    background-color: #f59893;
}

.zadacha{
    width:100%;
    border:solid 1px;
    flex-grow:1;
    overflow-y: auto;
}
.machine{
    width: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}
.strokaadd {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
.stocks{
    background-color: #4a76a8;
    display: flex;
    justify-content: flex-end;
    color: white;
    padding-right: 70px;
}
.stocks div{
    padding: 15px 10px;
}
.tape{
  display: flex;
}
.cel{
    position: relative;
    box-sizing:  border-box;
    width: 2.5vw;
    height: 2.5vw;
    border: solid 1px black;
}
.cel.active{
  border: solid 2px red;
}
.cel.mark:before{
  content: "V";
  text-align: center;
  font-size: 2.5vw;
  line-height: 2.5vw;
}
.cel:after{
    content: attr(data-id);
    position: absolute;
    color: #666;
    top: 0;
    left: 0;
    font-size: 1vw;
}
.commands{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    counter-reset: count -1;
    overflow-y: auto;
    font-size: 2vh;
    line-height: 2vh;
    flex-grow: 2;
}
.commands .item{
    display: flex;
    height: 5%;
    position: relative;
    border: solid 1px #666666;
    box-sizing: border-box;
}
.commands .item.run{
    background-color: greenyellow;
}
.commands .item div{
    border: solid 1px #bbbbbb;
    width: 10%;
    text-align: center;
}
.commands .item input{
    border: solid 1px #bbbbbb;
    width: 10%;
    text-align: center;
    line-height: 30px;
}
.commands .item .comment{
    width: 70%;
}
.commands .item .number{
    list-style: decimal;
}

.commands .item .number:after{
    content: counter(count);
    counter-increment: count 1;
}
.commands .number:hover {
    background-color: greenyellow;
}
.commands .number:hover:after {
    content: '+';
    text-align: center;
}
.commands .item:first-child .number:after{
  content: '';
}
